 <!DOCTYPE html>
 <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
 </head>
<html>
   <body>
      <h1>Google Drive</h1>
      <p id="para">Please Login to Continue</p>

         <button id="signin_button" (click)="loadGoogleDrive()">signIn</button>
         <pre id="content" style="white-space: pre-wrap;"></pre> 
   
   <div id="input1"></div>
      <div id="input2"></div>
      <div id="name"></div>
      <div id="add"></div>
      <table id='table'>
         
      </table>
   
  
  </body>
</html>

